@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.g-header{
    padding: 16px 100px 12px;
    background: #fff;
    border-top: 8px solid #48AC37;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    a{
        color: #48AC37;
        font-size: 40px;
        font-family: "Akaya Kanadaka", system-ui;
        font-weight: 400;
        font-style: normal;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    }
}

.container{
    background: url('../../../public/assets/img/user/home_bg.jpg');
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 105vh;
    padding: 30px 100px;
}