.admin-menu {
    border-right: solid 1px #808080;
    width: 277px;
    height: 100%;
    padding: 2px;
    overflow: auto;
    float: left;
    text-align: center;
    font-size: 12px;
    li {
        margin: 30px;
    }
}

.menu-block {
    width: 250px;
    height: 100vh;
    border: 1px inset;
    overflow: auto;
    padding: 10px;

    text-align: left;
    display: inline-block;
    h3.title {
        font-size: 18px;
        color: gray;
        text-align: center;
        margin: 5px;
        margin-bottom: 50px;
    }
    a.link {
        color: #0000EE;
        text-decoration: underline;
    }
}